In [2]:
import pandas as pd
data = pd.read_csv('train.csv', index_col='PassengerId')
data[:5]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
    <tr>
      <th>PassengerId</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
#male, female
print(data['Sex'].value_counts()[0],data['Sex'].value_counts()[1])

577 314

In [4]:
# 1 = survived
surv1 = data['Survived'].value_counts()
for amount in surv1:
    if data['Survived'][amount] == 1:
        surv = amount
all_p = data['Survived'].count()
res = surv * 100 / (all_p)
print(round(res, 2))

38.38

In [5]:
for amount in data['Pclass'].value_counts():
    if data['Pclass'][amount] == '1':
        my_amount = amount * 100 / data['Pclass'].count()
print(round(my_amount, 2))

NameError: name 'my_amount' is not defined

In [6]:
print(round(data['Age'].mean(), 2), round(data['Age'].median(), 2))

29.7 28.0

In [7]:
corr_pearson = data[['SibSp', 'Parch']].corr(method='pearson')
print(round(corr_pearson.values[0,1],2))

0.41

In [8]:
name = data[['Name', 'Sex']]
female = name[name['Sex']=='female']
names = {}
for name in female['Name']:
    s = name.split()
    if s[1] == 'Miss':
        first_name = s[2]
    else:
        for word in s:
            if word[0] == '(':
                if word[len(word)-1] == ')':
                    first_name = word[1:len(word)-1]
                else:
                    first_name = word[1:]
    if first_name in names:
        names[first_name] += 1
    else:
        names[first_name] = 1
max_am = 0
for name in names:
    if names[name] > max_am:
        max_name = name
        max_am = names[name]
print(max_name)

Elizabeth